src/TacoServices.Consumer/Connected Services/LocationServiceReference/LocationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61142/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TacoServices.Common" />
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TacoServices.Common" minOccurs="0" name="GetLocationsResult" nillable="true" type="q1:LocationCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TacoServices.Common" minOccurs="0" name="SearchLocationsResult" nillable="true" type="q2:LocationCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>