src/TacoServices.Consumer/Connected Services/LocationServiceReference/LocationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TacoServices.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TacoServices.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LocationCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationCollection" nillable="true" type="tns:LocationCollection" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
</xs:schema>