src/TacoServices.Consumer/Connected Services/OrderServiceReference/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TacoServices.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TacoServices.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="MenuItem" type="tns:MenuItemEnum" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRequest" nillable="true" type="tns:OrderRequest" />
  <xs:simpleType name="MenuItemEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Taco" />
      <xs:enumeration value="Quesadilla" />
      <xs:enumeration value="Burrito" />
      <xs:enumeration value="Fries" />
      <xs:enumeration value="Chocadilla" />
      <xs:enumeration value="Churro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MenuItemEnum" nillable="true" type="tns:MenuItemEnum" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>